.subscription {
  font-family: Poppins;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}
.ads {
  font-family: Poppins;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: rgba(15, 137, 2, 1);
}
.ads-btn {
  width: 109.58px;
  height: 39.14px;
  background-color: rgba(61, 113, 0, 1);
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-weight: 600;
  font-size: 10.96px;
  line-height: 15.65px;
  border-radius: 7px;
}
.ads-preview-btn {
  width: 109.58px;
  height: 39.14px;
  background-color: "white";
  color: #4c5563;
  font-family: Inter;
  font-weight: 600;
  font-size: 10.96px;
  line-height: 15.65px;
  border-radius: 7px;
}
.history-filter {
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.30000001192092896px;
}
