body {
  scroll-behavior: smooth;
}

.heroimg {
  background-image: url("../../assets/heroimg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #112420;
}

.first-hero-head {
  font-family: Inter;
  font-size: 3.34rem;
  font-weight: 700;
  line-height: 64.66px;
}

.first-hero-subtitle {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 24.2px;
  /* text-align: center; */
}
.logo-text {
  color: #000;
  font-family: "PT Serif Caption";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.landing-page-links {
  color: rgba(26, 26, 26, 0.7);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.action-button {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  height: 44px;
  padding: 10px 16px;
  border-radius: 8px;
  background: #3d7100;
}

/* hero section */

.hero {
  background: url("/images/hero-background.svg") no-repeat;
  background-size: cover;
}

.hero-title {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.spotlight {
  color: #3d7100;
  font-family: Inter;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.hero-subtitle {
  color: #2d2b2b;
  font-family: Inter;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.hero-lead {
  color: #2d2b2b;
  text-align: center;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Responsive font size adjustments */
@media (max-width: 768px) {
  .hero-title {
    font-size: 1.5rem;
  }
  .spotlight,
  .hero-subtitle {
    font-size: 3rem;
  }
  .hero-lead {
    font-size: 1rem;
  }
}

@media (max-width: 640px) {
  .hero-title {
    font-size: 1.25rem;
  }
  .spotlight {
    font-size: 1.5rem;
  }
  .hero-lead {
    font-size: 0.875rem;
  }
}

.hero-btn {
  color: var(--Neutral-Gray-50, #f8fafc);
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  display: flex;
  padding: 14px 20px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 5px;
  background: #3d7100;
}

/* footer section */
.footer-head {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer-trial {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer-signin {
  padding: 14px 20px;
  border-radius: 5px;
  border: 1px solid #3d7100;
  color: #f8fafc;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}

.footer-signup {
  padding: 14px 20px;
  border-radius: 5px;
  background: #3d7100;
  color: #f8fafc;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}
.footer-divider {
  background: rgba(255, 255, 255, 0.1);
  height: 1px;
}
.link-head {
  color: rgba(255, 255, 255, 0.7);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.footer-link {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
@media (max-width: 640px) {
  .footer-head,
  .works-head {
    font-size: 1.5rem;
  }
}
.footer {
  background-image: url("/images/footer.svg");
  background-color: #141414;
  background-position: center;
  background-size: cover;
}
.copyright {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.how-it-works {
  background-image: url("/images/howitworks.svg");
  background-size: cover;
  border-radius: 50px 0px 0px 0px;
  background-color: #091001;
  background-position: center center;
}
.works-head {
  color: #3d7100;
  text-align: center;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.44px;
}
@media (max-width: 640px) {
  .works-head {
    font-size: 25px;
  }
}
.works-label {
  color: #fff;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  letter-spacing: 7.68px;
}
.blocker {
  width: 1px;
  height: 141px;
  background: #fff;
}
.blocker-title {
  color: #3d7100;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.blocker-content {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.faq-box {
  /* padding: 58px 128px 58px 79px; */
  border-radius: 40px;
  background: #fff;
  box-shadow: 0px 17.325px 25.837px 16px rgba(61, 113, 0, 0.03),
    0px 36px 159px 16px rgba(61, 113, 0, 0.05);
  /* background-image: url("/images/faq.svg");
  background-size: cover;
  background-position: left; */
}
.faq-title {
  color: #3d7100;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media (max-width: 640px) {
  .faq-title {
    font-size: 25px;
    text-align: center;
    margin-bottom: 15px;
  }
}
.faq-questions {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  border-radius: 20px;
  /* background: rgba(122, 221, 2, 0.05); */
  max-width: 768px;
  width: 100%;
}
.faq-accordion {
  color: #010101;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.faq-outer {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* padding: 1rem; */
}
.answer {
  color: #010101;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.feature-title {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.feature-head {
  color: #3d7100;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media (max-width: 640px) {
  .feature-head {
    font-size: 25px;
  }
}
.feature-spotlight {
  color: #7add02;
}
.feature-text {
  color: #2d2b2b;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.bar {
  width: 1px;
  height: 15px;
  background: #000;
}
.feature-card {
  width: 258px;
  height: 300px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0.383px 4.785px 13px 0px rgba(0, 0, 0, 0.04),
    1.916px 23.923px 80px 0px rgba(0, 0, 0, 0.07);
}
.card-title {
  color: #3d7100;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.card-text {
  color: #2d2b2b;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.features-board {
  border-radius: 40px 40px 0px 40px;
  background: #091001;
  max-width: 1160px;
  width: 100%;
  height: 447px;
  background-image: url("/images/board.svg");
  background-size: cover;
  background-position: center;
}
@media (max-width: 640px) {
  .features-board {
    background-image: none;
    padding: 5px;
  }
  .features {
    background-image: none;
  }
}
.features {
  background-image: url("/images/features.svg");
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: fill;
}
.features-board-head {
  color: #3d7100;
  font-family: Inter;
  font-size: calc(2rem + 1px);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.features-board-title {
  color: #3d7100;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.features-board-text {
  color: #fff;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}
.testimonial-head {
  color: #2d2b2b;
  text-align: center;
  font-family: Inter;
  font-size: calc(2rem + 4px);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.quote-text {
  color: #2d2b2b;
  font-family: Inter;
  font-size: calc(1rem + 4px);
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}
.quote-content {
  width: 425px;
}
.quote-username {
  color: #3d7100;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.quote-title {
  color: #3d7100;
  font-family: Inter;
  font-size: 16px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
}
.quote-company {
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
}
@media (max-width: 640px) {
  .testimonial {
    font-size: 25px;
  }
  .quote-text {
    font-size: 12px;
  }
  .quote-content {
    width: 300px;
  }
  .quote-username {
    font-size: 14px;
  }
  .quote-title {
    font-size: 12px;
  }
  .quote-company {
    font-size: 10px;
  }
}
.menu-links {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
