.billing-text {
  font-family: Inter;
  font-size: 17px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  color: #787878;
}
.billing-period {
  font-family: Inter;
  font-size: 16px;
  font-weight: 475;
  line-height: 20px;
  letter-spacing: -0.05000000074505806px;
  color: #2d2b32;
}
.billing-option {
  width: 300px;
  height: 47px;
  padding: 0px 8px 0px 12px;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid #e6e6e6;
  opacity: 0px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.05000000074505806px;
  color: #0a090b;
}
.plan-title {
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: #0a0d13;
}
.cart-title {
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: #0a0d13;
}

/* Style for the fieldset */
fieldset {
  border: 1px solid #ccd0d2;
  border-radius: 4px;
  padding: 1rem;
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.15);
}

/* Style for the legend */
legend {
  font-size: 0.875rem;
  color: #aab7c4;
  padding: 0 0.5rem;
  background-color: #fff;
  position: absolute;
  top: -0.75rem;
  left: 1rem;
}

/* Container for the Stripe element */
.StripeElement {
  box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.15);
  padding: 12px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #ccd0d2;
  margin-top: 1rem;
}

/* Button styling */
.stripe-btn {
  background-color: #6772e5;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.stripe-btn:hover {
  background-color: #5469d4;
}

/* Error message styling */
.stripe-form div {
  color: #fa755a;
  margin-top: 0.5rem;
}
