.plan-tab-btn {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}
.success-msg {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 12px;
  color: #000;
}
.confirmed-msg {
  font-family: Inter;
  font-size: 30px;
  font-weight: 500;
  line-height: 28px;
  color: #0a0d13;
}
.success-btn {
  width: 520px;
  /* height: 52px; */
  border-radius: 4px;
  background-color: #34b53a;
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 12px;
  color: #fff;
}
