@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica.woff2") format("woff2"),
    url("/fonts/Helvetica.woff") format("woff"),
    url("/fonts/Helvetica.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@keyframes dotPulse {
  0% {
    transform: scale(0.8);
    opacity: 0.3;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.loading-dots {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.loading-dots-dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  background: white;
  border-radius: 50%;
  opacity: 0.3;
  animation: dotPulse 1.4s infinite alternate;
}

.loading-dots-dot:nth-child(2) {
  animation-delay: 0.2s;
}

.loading-dots-dot:nth-child(3) {
  animation-delay: 0.4s;
}

html {
  scroll-behavior: smooth;
}

/* Hide the scrollbar by default */
.custom-scrollbar {
  scrollbar-width: 4px; /* Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #3D7100;
  border-radius: 10px;
}

/* Show scrollbar on hover */
.custom-scrollbar:hover::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: #3D7100;
  border-radius: 10px;
}

.dance {
  animation: dance 3s infinite ease alternate;
}
@keyframes dance {
  from {
    transform: translateY(-12px);
  }
  to {
    transform: translateY(12px);
  }
}

.zoom {
  animation: zoomInOut 5s infinite;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.active {
  color: #3d7100;
}

.nav-bg {
  background: linear-gradient(to right, #001a24 56.5%, #092a20 50%, #323f1b 100%);
}
