@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes dotPulse {
  0% {
    transform: scale(0.8);
    opacity: 0.3;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.loading-dots {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.loading-dots-dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  background: white;
  border-radius: 50%;
  opacity: 0.3;
  animation: dotPulse 1.4s infinite alternate;
}

.loading-dots-dot:nth-child(2) {
  animation-delay: 0.2s;
}

.loading-dots-dot:nth-child(3) {
  animation-delay: 0.4s;
}

html {
  scroll-behavior: smooth;
}

/* .gradient-custom3{
  background: linear-gradient(to bottom, #FFFFE0 0%, #F9FBFF 100%);
  
} */

.dance{
  animation: dance 3s infinite ease alternate;
}
@keyframes dance {
  from {
    transform: translateY(-12px);
  } to{ 
    transform: translateY(12px);
  }
}

.zoom {
  animation: zoomInOut 5s infinite;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}