@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes dotPulse {
  0% {
    transform: scale(0.8);
    opacity: 0.3;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.loading-dots {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.loading-dots-dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  background: white;
  border-radius: 50%;
  opacity: 0.3;
  animation: dotPulse 1.4s infinite alternate;
}

.loading-dots-dot:nth-child(2) {
  animation-delay: 0.2s;
}

.loading-dots-dot:nth-child(3) {
  animation-delay: 0.4s;
}

/* .gradient-custom3{
  background: linear-gradient(to bottom, #FFFFE0 0%, #F9FBFF 100%);
  
} */

.dance{
  animation: dance 3s infinite ease alternate;
}
@keyframes dance {
  from {
    transform: translateY(-12px);
  } to{ 
    transform: translateY(12px);
  }
}

.zoom {
  animation: zoomInOut 5s infinite;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}