.plan-box {
  width: 228.65px;
  height: 435.34px;
}
.plan-title {
  font-family: Inter;
  font-size: 13.63px;
  font-weight: 600;
  line-height: 16.49px;
  color: #171725;
}
.plan-description {
  font-family: Inter;
  font-size: 9.09px;
  font-weight: 400;
  line-height: 13.63px;
  color: #92929d;
}
.plan-amount {
  font-family: Inter;
  font-size: 36.34px;
  font-weight: 600;
  line-height: 43.98px;
  letter-spacing: 0.1514216959476471px;
  color: #171725;
}
.plan-discount {
  font-family: Inter;
  font-size: 13.63px;
  font-weight: 500;
  line-height: 16.49px;
  color: #92929d;
}
.plan-details-text {
  font-family: Inter;
  font-size: 10.6px;
  font-weight: 400;
  line-height: 12.83px;
  letter-spacing: 0.07571088522672653px;
  color: #171725;
}
.plan-btn {
  font-family: Inter;
  font-size: 9.09px;
  font-weight: 600;
  line-height: 11px;
  text-align: center;
  color: #fff;
}
.plan-separator {
  border: 0.76px solid #f1f1f5;
  height: 0.76px;
}
.sub-inputs {
  height: 47px !important;
  padding: 0px 8px 0px 12px;
  gap: 8px;
  border-radius: 8px !important;
  border: 1px solid #e6e6e6;
  opacity: 0px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.05000000074505806px;
  text-align: left;
  color: #0a090b;
}
.sub-label {
  font-family: Inter;
  font-size: 16px;
  font-weight: 475;
  line-height: 20px;
  letter-spacing: -0.05000000074505806px;
  text-align: left;
  font-variation-settings: "slnt" 0;
  color: #2d2b32;
}


.toggle-icon-container {
  width: 3rem;
  height: 1.5rem;
  background-color: #9FB3C8;
  border-radius: 1rem;
  }
  
  .toggle-button{
    background-color: white;
    width: 1.2rem;
    height: 1.2rem;
    left: 0.1rem;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(100%), translateX(100), rotate(360deg);
  }

  .is-checked{
    background-color: #57DD80;
  }

  .toggle-icon{
    gap: .5rem;
    padding: 0 2px;
  }

  .toggle-icon svg{
    font-size: .6rem;
    color: #fff;
  }

  .translate-x-6{
    transform: translateX(1rem);
  }